@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeicons/primeicons.css';

@import './tokens/colors';
@import './tokens/typography';
@import './tokens/radius';

@import './themes/dark';

@import './components/buttons';
@import './components/inputs';
@import './components/cards';

html,
body {
  font-family: var(--font-family);

  background: var(--color-background);

  color: var(--color-text-primary);
}
